
*{
    font-family: Calibri;
}
body {
    margin:0px;
}
.arkaplan_login {
    background-color: lightgray;    
}
#login {    
    border:thin solid black;
    width: 100%;
    margin: 10% auto 3px;;
    padding:5px;
    background-color: #333;
    border-radius: 3px;
    
        
}
#login table {
    margin:auto;
    padding: 10px 50px;
    background: black;
    border-radius:8px;
}
#login label {
    color:white;    
    font-size: 12pt;
}
#login input {
    margin:10px;
    border:none;
    border-radius: 3px;
    padding: 5px;
    font-size: 12pt;
}
.login_dugme {
    width: 90px;
    background: linear-gradient(darkgray,grey);
}
.saga_yasla {
    text-align: right;
}
.dugme {
    width:150px;    
    font-size:12pt;
    border:none;
    border-radius: 10px;
    padding: 5px;
}

#mesaj {    
    font-size: 14pt;
    margin:5px auto;
    text-align: center;
    background: wheat;
    padding: 5px;
}
#uzmanlar {
    width:100%;
    margin: 3px;
}
#uzmanlar h1 {
  
    font-size:12pt;
    text-align: center;
}           
#uzmanlar nav {
    display: block;
    width: 200px;
    background: lightgrey;
    padding: 5px;
    border-radius: 3px;
    margin:auto;
}
#uzmanlar a:link {
    display: block;
    background: gray;
    padding: 5px;
    margin:5px;
    border-radius: 2px;
    border-bottom:thin dotted black;
    font-size: 10pt;
    color:black;
    text-decoration: none;                                
}
#uzmanlar a:hover {
    background: crimson;
}
#uzmanlar a:visited {
    color:lightgray;    
}
#uzmanlar a:active {
    color:red;
}
#uzman_sec {
   margin: 0px auto;
   background: darkslategray;
   border-radius:15px;
   padding: 10px;
}
#uzman_sec form {
    

}
#uzman_sec select {
    background: darkslategray;
    border-radius: 7px;
    font-size: 14pt;
    color:white;
    margin: 10px;
    padding: 5px 25px;
}
#uzman_sec option {        
    font-size: 14pt;
    background: darkseagreen;
    border-radius: 5px;
    margin:15px;
    padding: 25px;
    
}
#uzman_sec table {
    width: 250px;
}
#uzman_sec td {
    text-align: center;
}
#uzman_sec caption {
    
    font-size:16pt;
    color:white;
    text-align: center;
}
#kayit_form {
    width:90%;
    margin: 0px;
    padding-bottom: 10px;
}
#kayit_form table {
    /*background: darkslategray;
    border-radius: 3px;*/
    padding: 1px;
    margin-bottom: 10px;
}
#kayit_form td {

    color:#333;
    font-size: 12pt;
    padding: 3px;
    white-space: nowrap;
}
#kayit_form input,select {
   
    font-size: 12pt;
    padding: 3px;
}

#secilen_uzman {
    width:100%;
    font-size: 12pt;
    color:black;
    /*text-shadow:1px 1px 1px gray;*/
    text-align: center;
    margin:5px auto;
    padding: 8px 0px;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
}
.sekreter_nav {
    margin:5px auto;
    padding:4px;
    background:lightgrey;
}
.sekreter_nav a:link{
    color:#333;
    margin-left:40px;
    padding: 4px 5px;
    text-decoration:none;
    border-right:thin dotted black;
    border-left:thin dotted black;
}
.sekreter_nav a:hover {
    border-right:thin solid black;
    border-left:thin solid black;
}

.cerceve {
    margin:0px auto;
    width:1050px;
    background:linear-gradient(lightgray,white);
    border-right:2px black solid;
    border-left: 2px black solid;
    box-shadow:3px 3px 3px gray;
}
#baslik_sekreter {
    color:black;
    
}
#baslik_sekreter h1 {
    text-align: center;
    font-size:14pt;
    letter-spacing:6pt; 
    width:50%;
    margin:auto;
    color:black;
    width:800px;
}
#baslik_sekreter a {
    float:right;
    margin-top:-10px;
    margin-right: 10px;
    
}
.randevu_liste {
    /*list-style: none;*/
    font-size: 10pt;
    list-style-position:inside; 
    border-radius:8px;
    padding:3px;
    color:white;
}
.randevu_liste li {
    background:#333;
    border-radius:2px;
    padding: 3px;    
    margin:3px;    
}
.randevu_liste a:link {
    text-decoration: none;
    color:white;
}
.randevu_liste a:hover {
    text-decoration: none;
    color:lightblue;
}
.randevu_liste a:visited {
    text-decoration: none;
    color:lightgray;
}
#supervis_form {
    margin:5px auto;
}
#supervis_form table {
    border:thin dotted gray;
    background: lightgray;
    border-radius:15px;
    padding: 10px;
    margin: auto;
}
#supervis_form td,th {
    border:thin dotted gray;
    background: gray;        
    font-size: 12pt;
    color:white;
    padding: 5px;
    margin:8px;
    border-radius: 5px;
    text-align:center;
}
#supervis_form caption {    
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}    

#super_vis_listele {
    margin:auto;
}

.tablo {
    border:thin dotted gray;
    background: lightgray;
    border-radius:10px;
    padding: 10px;
}
.tablo td{
    border:thin dotted gray;
    background: gray;    
    font-size: 10pt;
    color:white;
    padding: 5px;
    margin:8px;
    border-radius: 3px;
    text-align:center;
}
.tablo th {
    background: #333;
}
.tablo caption {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.bugun {    
    margin: 20px auto;       
    background:linear-gradient(gray,lightgrey);
    padding:5px;
    border-radius:3px;
}
.bugun td {
    font-size:10pt;
	color:black;
    text-align:center;
    padding: 5px 10px;
    border-bottom:thin solid #333;
    /*background: lightgray;*/	
    margin:0px;
}
.bugun th {
    font-size:10pt;
	margin:0px;
    background:#333;
	border-radius:4px 4px 0px 0px;
    border:none;
}
.bugun tr:nth-child(even){
    background:lightgrey;
    margin:3px;
}
.bugun caption {
    margin:5px;
    padding:0px 5px;
    border-bottom:thin dotted #333;
}
.cocuk{
    text-align: center;
}
.danisan_liste {
    border:darkgrey thin solid;
    margin: 10px auto;
    box-shadow:3px 3px 3px gray;
    padding: 5px;
}
.danisan_liste caption {
    background: darkgrey;
    border-radius: 4px 4px 0px 0px;
    color:white;
}
.danisan_liste tr:nth-child(even){
    background: lightgray;
}
.danisan_liste th {
    font-size:9pt;
    font-weight: normal;
    border:none;
    margin-top: 0px;
    border-radius: 4px 4px 0px 0px; 
}
.danisan_liste td {
    font-size: 10pt;
    padding: 3px;    
}
.danisan_liste td:nth-child(even) {
    border-left: thin dotted darkgrey;
    border-right: thin dotted darkgrey;
}
.dan_info {
    border:thin solid black;
    border-radius: 5px;
}
.dan_info th {
    font-size:10pt;
    padding: 2px;
}
.dan_info td {
    border-bottom:thin black dotted;
    border-radius: 4px;
}
.dan_info td:nth-child(odd) {
    font-weight: bold;
    
}
.dan_info td:nth-child(even) {
    background: white;
}